<div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
</div>

<div class="text-field">
    <%= form.label :description %>
    <%= form.text_field :description %>
</div>

<div class="text-field">
    <%= form.label :address %>
    <%= form.text_field :address %>
</div>

<div class="text-field">
    <%= form.label :price %>
    <%= form.text_field :price %>
</div>

<div class="text-field">
    <%= form.label :bed_room_type %>
    <%= form.text_field :bed_room_type %>
</div>

<div class="text-field">
    <%= form.label :bed_type %>
    <%= form.text_field :bed_type %>
</div>

<div class="text-field">
    <%= form.label :bed_num %>
    <%= form.text_field :bed_num %>
</div>

<div class="text-field">
    <%= form.label :bathroom_type %>
    <%= form.text_field :bathroom_type %>
</div>

<div class="text-field">
    <%= form.label :bathroom_num %>
    <%= form.text_field :bathroom_num %>
</div>
