<h1>Show Listing</h1>
<p>All the details are here</p>

<div>
    <strong><%= @listing.name %></strong></br>
        <%= form_with model: @reservation, scope: :reservations, url:listing_reservations_path(@listing.id), local: true do |form| %>
            <div>
                <label for="start">Start</label>
                <input type="date" id="start" name="reserve"
                    value="2018-09-25"/>
            </div>

            <div>
                <label for="end">End</label>
                <input type="date" id="end" name="reserve"
                    value="2018-07-29"/ >
            </div>

            <div class="submit-field">
                <%= form.submit %>
            </div>

        <% end %>
           
        
    <ul>
        <li><%= @listing.description %></li>
        <li>RM <%= @listing.price %>/night</li>
        <li><%= @listing.address %></li>
        <li><%= @listing.rating %></li>
        <li><%= @listing.bed_room_type %></li>
        <li><%= @listing.bed_room_num %></li>
        <li><%= @listing.bed_type %></li>
        <li><%= @listing.bed_num %></li>
        <li><%= @listing.bathroom_type %></li>
        <li><%= @listing.bathroom_num %></li>
        <li>Verified: <%= @listing.verification %></li>
        <% if @listing.user_id == current_user.id %>
            <%= link_to "Edit Listing", edit_listing_path(@listing.id) %></br>
            <%= link_to "Delete Listing", listing_path(@listing.id), method: :delete, data: { confirm: "Are you sure?" } %></br>
        <% end %>
    </ul>
</div>